.watch-list-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.watch-list-main header {
  display: flex;
  align-items: center;
  width: 960px;
  height: 50px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 10px;
  color: #3677A8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

.watch-list-body {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin-top: 10px;
}

/* -------------DETAILS-------------- */
.watch-list-details {
  display: flex;
  box-sizing: border-box;
  width: 67%;
  margin-right: 25px;
}

.watch-list-left {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}

.add-to-watch-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
  align-items: center;
}

.add-to-watch-list h1 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
}

.add-to-watch-list button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: #888888;
  font-size: 10px;
  width: 40%;
  height: 36px;
  border-left: 5px solid #33B52F;
  border-top: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
}

.add-to-watch-list button i{
  color: #3677A8;
  font-size: 12px;
}

/* -----------INDIVIDUAL STOCK--------------- */

.watch-list-items {
  padding-top: 10px;
}

.watch-list-item-indiv {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: solid 1px #e1e1e1;
  width: 640px;
  height: 98px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 0px;
  justify-content: space-between;
}

.indiv-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 7px;
}

.watch-list-item-co-info {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

.watch-list-ticker {
  color: white;
  background-color: #3677A8;
  padding: 3px 5px;
  margin-right: 5px;
  font-size: 10px;
  align-self: center;
}

.watch-list-co-name {
  font-size: 12px;
  font-weight: 700;
  align-self: center;
}

.watch-list-item-data {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 37px;
  font-size: 9px;
  font-weight: 400;
  color: grey;
  width: 620px;
}
.watch-list-item-chg {
  display: flex;
  flex-direction: row;
  border-right: solid 1px #e1e1e1;
  justify-content: space-around;
  width: 45%;

}
.watch-list-item-vol {
  display: flex;
  flex-direction: row;
  border-right: solid 1px #e1e1e1;
  justify-content: space-around;
  width: 28%;
}
.watch-list-item-range {
  display: flex;
  flex-direction: row;
  width: 27%;
  justify-content: center;
}

.watch-list-remove {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 98px;
  border: 1px solid #3677A8;
}
.watch-list-remove button {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 98px;
  height: 20px;
  color: white;
  background-color: #3677A8;
  font-size: 10px;
  transform: rotate(-90deg);
  top: 38px;
  right: -40px;
}
/* ---------------NEWS----------------- */
.watch-list-news {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 33%;
}

.watch-list-news-header {
  font-family: lato, sans-serif;
  font-size: 11px;
  font-weight: 300;
  padding: 10px 15px;
  color: white;
  background-color: #3677A8;
  border: 1px solid #3677A8;
}

.watch-list-news-list {
  padding: 10px;
  border: 1px solid #e1e1e1;
  background-color: #f7f7f7;
  width: 100%;
}
.watch-list-news-list div {
  margin: 0 0 10px;
  padding: 0 0 10px;
  background: 0 0;
  border-bottom: solid 1px #e1e1e1;
  font-family: lato, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.watch-list-news-date {
  color: grey;
  font-weight: 400;
  padding-bottom: 5px;
}