.main-page-container {
  display: flex;
  justify-content: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graph-header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2px;
  width: 800px;
}

.graph-header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

.graph-header-item {
  padding: 3px;
}

.movers-latest-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.movers-latest-item {
  padding: 3px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

.graph-container {
  display: flex;
  justify-content: center;
  width: 800;
  height: 200px;
  border: 1px solid rgba(199, 199, 199, 0.918);
}

.graph {
  margin: 80px;
}

.latest-news-items {
  display: flex;
  width: 800;
  justify-content: space-evenly;
  background-color: rgba(238, 238, 238, 0.918);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.latest-item {
  color: rgb(201, 172, 9);
}

.latest-news-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(199, 199, 199, 0.918);
  border-bottom: 1px solid rgba(199, 199, 199, 0.918);
}

.clip-list-container {
  display: flex;
  flex-flow: wrap;
  width: 750px;
}