.acc-drop-down-main:hover .acc-drop-down {
  display: block;
}

.acc-drop-down {
  display: none;
  position: absolute;
  width: 161px;
  top: 50px;
  height: fit-content;
  color: #202020;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  z-index: 1;
}

.acc-drop-down-header {
  color: #3677A8;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.acc-drop-down-login-logout {
  display: flex;
  /* flex-direction: column; */
}

.acc-drop-down-choices {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0 10px;
}

.acc-drop-down-choice-button {
  font-size: 12px;
  padding: 10px 0 5px;
}
.acc-drop-down-choice-button:hover {
  color: #3677A8;
}

.acc-drop-down-logout {
  padding: 10px 0 7px;
  font-size: 12px;
}

.acc-drop-down-login-logout-button {
  padding: 10px 0 7px;
  font-size: 12px;
}
.acc-drop-down-login-logout-button:hover {
  color: #3677A8;
}