.acc-drop-btn:hover {
  cursor: pointer;
}

.acc-drop-down-main {
  position: relative;
  display: inline-block;
  align-self: center;
  vertical-align: middle;
  height: 25px;
}

.acc-drop-down {
  display: none;
  position: absolute;
  height: fit-content;
  width: 100px;
  min-width: 100px;
  background-color: #fff;
  color: #202020;
  padding: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -50px;
}

.acc-drop-down-main:hover .acc-drop-down {
  display: block;
}

.acc-drop-down-header,
.acc-drop-down-choices,
.acc-drop-down-logout,
.acc-drop-down-choice-button {
  display: block;
}

.acc-drop-down-main:hover .acc-drop-btn {
  color: #3677A8;
}

.acc-drop-down-header {
  color: #3677A8;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.acc-drop-down-login-logout {
  display: flex;
  flex-direction: column;
}

.acc-drop-down-choices {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0 10px;
}

.acc-drop-down-choice-button {
  font-size: 12px;
  padding: 10px 0 5px;
}
.acc-drop-down-choice-button:hover,
.acc-drop-down-logout:hover,
.acc-drop-down-login-logout-button:hover {
  color: #3677A8;
}

.acc-drop-down-logout {
  padding: 10px 0 7px;
  font-size: 12px;
}

.acc-drop-down-login-logout-button {
  padding: 10px 0 7px;
  font-size: 12px;
}
