.nav-bar-main {
  display: flex;
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  height: 30px;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
}

.nav-bar-container {
  display: flex;
  width: 960px;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.nav-bar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.nav-bar-news-links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.nav-bar-session-links {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  align-items: center;
}  

.fa-user-circle {
  font-size: 25px;
  padding-bottom: 13px;
}

.fa-search {
  font-size: 15px;
}

.fa-bars {
  font-size: 20px;
  padding: 16px;
  margin-top: 12px;
}

.drop-down-menu-icon:hover .drop-down-main{
  display: block;
}

.fa-bars:hover {
  background-color: #3677a8;
}

.drop-down-main {
  display: none;
  position: absolute;
  height: 500px;
  width: 240px;
  background-color: #3677a8;
  color: white;
  font-size: 20px;
}

.drop-down-links {
  display: block;
}

li {
  height: 30px;
  width: 200px;
  padding: 20px;
}

.link-item:hover {
  background-color: rgb(54, 125, 206);
}
